# Dependencias
node_modules/

# Salida de Webpack
dist/

# Archivos de lock
package-lock.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Configs de editores
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos temporales
.env
.env.local
.env.*.local
